{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Registro</h1>

    <div class="container my-4">
        <!-- { { form(registrationForm) }} -->

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, { attr: { class: 'form-estilizado' } }) }}
        {{ form_row(registrationForm.characterName,  { label: 'Nombre'}) }}
        {{ form_row(registrationForm.plainPassword, { label: 'Contraseña'}) }}
        {{ form_row(registrationForm.balance, {label: 'Dinero inicial'}) }}

        <button type="submit" class="btn">Registrarse</button>
        {{ form_end(registrationForm) }}
    </div>

    <a href="{{ path('index') }}" class="btn btn-primary">Página de inicio</a>

{% endblock %}


