{% extends 'base.html.twig' %}

{% block title %}Administrar Categoria{% endblock %}

{% block body %}
    <h1>Administrar Categoria</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nombre }}</td>
                <td class="acciones">
                    <a href="{{ path('app_categoria_show', {'id': categoria.id}) }}" title="Mostrar">
                        <img src="{{ asset('images/magnifying-glass-solid.svg') }}" alt="Mostrar" width="16">
                    </a>
                    <a href="{{ path('app_categoria_edit', {'id': categoria.id}) }}" title="Editar">
                        <img src="{{ asset('images/pen-to-square-regular.svg') }}" alt="Editar" width="16">
                    </a>
                    <a href="{{ path('app_categoria_delete', {'id': categoria.id}) }}" title="Borrar">
                        <img src="{{ asset('images/eraser-solid.svg') }}" alt="Editar" width="16">
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categoria_new') }}">Create new</a>
{% endblock %}
