{% extends 'base.html.twig' %}

{% block title %}Importar Ítems{% endblock %}

{% block body %}
    <h1>Importar Ítems desde CSV</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label == 'success' ? 'success' : 'danger' }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <br>

    {{ form_start(form) }}
    {{ form_row(form.csv_file) }}
    <button class="btn btn-primary">Subir</button>
    {{ form_end(form) }}

    <p><a href="{{ path('index') }}" class="btn btn-primary">Volver al Inicio</a></p>
{% endblock %}
