{% extends 'base.html.twig' %}

{% block title %}Catálogo de objetos{% endblock %}

{% block body %}
    <h1>Catálogo de objetos</h1>

    <div class="mb-3">
        Eres {{ app.user.userIdentifier }} y tienes {{ app.user.getFormattedBalance() }}.
        <br><br><a href="{{ path('index') }}" class="btn btn-primary">Volver a Inicio</a>
    </div>

    <br>

    <div class="div-tabla">
        <table class="table-tabla" style="border: 1px solid black;">
            <thead>
            <tr>
                <th style="border: 1px solid black; padding: 8px;">Nombre</th>
                <th style="border: 1px solid black; padding: 8px;">Categoría</th>

                <th style="border: 1px solid black; padding: 8px;">Precio</th>
                <th style="border: 1px solid black; padding: 8px;">Comprar</th>
            </tr>
            </thead>
            <tbody class="tbody-tabla">
            {% for item in items %}
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">{{ item.nombre }}</td>
                    <td style="border: 1px solid black; padding: 8px;">{{ item.categoria }}</td>

                    <td style="border: 1px solid black; padding: 8px;">{{ item.precio }}</td>
                    <td style="border: 1px solid black; padding: 8px;">
                        <a href="{{ path('comprar', {'id': item.id}) }}" class="btn-compra">Comprar</a>
                    </td>
                </tr>


            {% else %}
                <tr><td colspan="3">No hay ítems disponibles.</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
