{% extends 'base.html.twig' %}

{% block title %}Administrar Calidad{% endblock %}

{% block body %}
    <h1>Administrar Calidad</h1>

    <a href="{{ path('app_calidad_new') }}" class="btn btn-primary">Crear Calidad</a><br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Multiplicador al precio</th>
                <th>Multiplicador al precio - Bonos mecánicos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for calidad in calidads %}
            <tr>
                <td>{{ calidad.nombre }}</td>
                <td>{{ calidad.numero }}</td>
                <td>{{ calidad.multiplicadorPrecio }}</td>
                <td>{{ calidad.multiplicadorPrecioCombate }}</td>
                <td class="acciones">
                    <a href="{{ path('app_calidad_show', {'id': calidad.id}) }}" title="Mostrar">
                        <img src="{{ asset('images/magnifying-glass-solid.svg') }}" alt="Mostrar" width="16">
                    </a>
                    <a href="{{ path('app_calidad_edit', {'id': calidad.id}) }}" title="Editar">
                        <img src="{{ asset('images/pen-to-square-regular.svg') }}" alt="Editar" width="16">
                    </a>
                    <a href="{{ path('app_calidad_delete', {'id': calidad.id}) }}" title="Borrar">
                        <img src="{{ asset('images/eraser-solid.svg') }}" alt="Borrar" width="16">
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
