{% extends 'base.html.twig' %}

{% block title %}Calidad{% endblock %}

{% block body %}
    <h1>Mostrar Calidad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ calidad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ calidad.nombre }}</td>
            </tr>
            <tr>
                <th>Número</th>
                <td>{{ calidad.numero }}</td>
            </tr>
            <tr>
                <th>Multiplicador al Precio</th>
                <td>{{ calidad.multiplicadorPrecio }}</td>
            </tr>
            <tr>
                <th>Multiplicador al Precio de Combate</th>
                <td>{{ calidad.multiplicadorPrecioCombate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_calidad_index') }}" class="btn">Volver a la lista</a><br>

    <a href="{{ path('app_calidad_edit', {'id': calidad.id}) }}" class="btn">Editar</a>

    {{ include('calidad/_delete_form.html.twig') }}
{% endblock %}
