{% extends 'base.html.twig' %}

{% block title %}Tienda de rol{% endblock %}

{% block body %}

    <h1>Proyecto: Ygdramar</h1>

    <h2>¡Bienvenido{% if app.user %} {{ app.user.characterName }}{% endif %}!</h2>

    <img src="{{ asset('images/home-img-2.jpg') }}" alt="Imagen de bienvenida" class="welcome-image">

    {% if app.user %}
        {# Usuario logueado #}
        <a href="{{ path('app_user_change_password') }}" class="btn">Cambiar Contraseña</a>
        <a href="{{ path('app_logout') }}" class="btn">Cerrar Sesión</a>
        <br><br>

        {# NO LO VEO NECESARIO CON LA BARRA DE NAVEGACIÓN, PERO LO MANTENGO POR SI CAMBIO DE IDEA

        {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_inventario') }}" class="btn btn-primary">Inventario</a>
            <br><br>
            <a href="{{ path('app_compra') }}" class="btn btn-primary">Compra de Artículos</a>
            <br><br>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_inventario') }}" class="btn btn-primary">Inventarios de los Jugadores</a>
            <br><br>
            <a href="{{ path('app_import_items') }}" class="btn btn-primary">Importar Artículos desde CSV</a>
            <br><br>
            <a href="{{ path('app_item_index') }}" class="btn btn-primary">Administrar Artículos</a>
            <br><br>
            <a href="{{ path('app_categoria_index') }}" class="btn btn-primary">Administrar Categoría</a>
            <br><br>
            <a href="{{ path('app_calidad_index') }}" class="btn btn-primary">Administrar Calidad</a>
            <br><br>
            <a href="{{ path('app_user_index') }}" class="btn btn-primary">Administrar Usuarios</a>
            <br><br>
        {% endif %}
        #}

    {% else %}
        {# Usuario NO logueado #}
        <a href="{{ path('app_login') }}" class="btn btn-primary">Iniciar Sesión</a>
        <a href="{{ path('app_register') }}" class="btn btn-primary">Registrarse</a>
        <br>
    {% endif %}

{% endblock %}
