{% extends 'base.html.twig' %}

{% block title %}Inventario{% endblock %}

{% block body %}
    <h1>Inventario</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <form method="get" action="{{ path('app_inventario') }}">
            <label for="usuario_id">Seleccionar usuario:</label>
            <select name="usuario_id" id="usuario_id" onchange="this.form.submit()">
                {% for u in usuarios %}
                    <option value="{{ u.id }}" {% if usuarioSeleccionado and u.id == usuarioSeleccionado.id %}selected{% endif %}>
                        {{ u.characterName }}
                    </option>
                {% endfor %}
            </select>
        </form>
        <hr>
    {% endif %}


    <div class="title">
        <h2>Inventario de {{ usuarioSeleccionado.characterName }}</h2>
        <a href="{{ path('app_inventario_pdf', {'usuario_id': usuarioSeleccionado.id}) }}" class="btn btn-outline-danger" title="Descargar PDF">
            <img src="{{ asset('images/file-pdf-solid.svg') }}" alt="PDF" width="20" style="vertical-align: middle;">
        </a>
    </div>

    <h3><i>Fondos actuales:</i> {{ usuarioSeleccionado.balance|moneda_formateada }}</h3><br>

    <table>
        <thead>
        <tr>
            <th>Item</th>
            <th>Categoría</th>
            <th>Calidad</th>
            <th>Cantidad</th>
            <th>Precio medio de compra</th>
        </tr>
        </thead>
        <tbody>
        {% for row in inventario %}
            <tr>
                <td>{{ row.itemNombre }}</td>
                <td>{{ row.categoriaNombre }}</td>
                <td>{{ row.calidadNombre }}</td>
                <td>{{ row.totalCantidad }}</td>
                <td>{{ row.precioMedio|moneda_formateada }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay objetos en el inventario.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
