{% extends 'base.html.twig' %}

{% block title %}Lista de Items{% endblock %}

{% block body %}
    <h1>Lista de Items</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Precio</th>

                <th>Categoria</th>
                <th>Peso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>

                <td>{{ item.nombre }}</td>
                <td>{{ item.precio }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.peso }}</td>
                <td class="acciones">
                    <a href="{{ path('app_item_show', {'id': item.id}) }}" title="Mostrar">
                        <img src="{{ asset('images/magnifying-glass-solid.svg') }}" alt="Mostrar" width="16">
                    </a>
                    <a href="{{ path('app_item_edit', {'id': item.id}) }}" title="Editar">
                        <img src="{{ asset('images/pen-to-square-regular.svg') }}" alt="Editar" width="16">
                    </a>
                    <a href="{{ path('app_item_delete', {'id': item.id}) }}" title="Borrar">
                        <img src="{{ asset('images/eraser-solid.svg') }}" alt="Borrar" width="16">
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No hay registro de items</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{{ path('app_item_new') }}">Crear nuevo item</a>

    <br><br>
    <a href="{{ path('index') }}" class="btn btn-primary">Volver al Inicio</a>
{% endblock %}
