{% extends 'base.html.twig' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block body %}
    <h1>Cambiar contraseña</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div><br>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.newPassword.first) }}
    {{ form_row(form.newPassword.second) }}

    <button class="btn btn-primary">Cambiar contraseña</button>
    {{ form_end(form) }}

{% endblock %}
