{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ user.characterName }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% if 'ROLE_USER' in user.roles %}
                        {% if 'ROLE_ADMIN' in user.roles %}
                            Usuario, Administrador
                        {% else %}
                            Usuario
                        {% endif %}
                    {% else %}
                        {% if 'ROLE_ADMIN' in user.roles %}
                            Administrador
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Balance</th>
                <td>{{ user.balance|moneda_formateada }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}" class="btn">Volver a la lista de Usuarios</a><br>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn">Editar</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
